<div style="width: 100vw;height:100vh;display: flex; align-items: center; text-align: center; background-color: red;color: yellow;border:thick dashed yellow;font-size: 10em;">
    <div>LOADING the APPLICATION!</div>
</div>